@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/shift-bold.woff") format("woff");
}
::selection {
  background: #a8d1ff;
}
::-moz-selection {
  background: #a8d1ff;
}